body{
    margin: 0;
    padding: 0;
    background-color: black;
}
#me{
    width: 200px;
}

a{
    text-decoration: underline;
}

.noLink{
    text-decoration: none;
    color: black;
}

.noLink:hover{
    color: black;
}